@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

$background:rgb(250, 248, 218);
$secondary: rgb(131, 159, 236);

html, body{
  background-color: rgb(197, 197, 197);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #C5c5c5;
  opacity: 1;
  background-size: 36px 63px;
  background-position: 0 0, 0 0, 18px 32px, 18px 32px, 0 0, 18px 32px;
  background-image:  linear-gradient(30deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(150deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(30deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(150deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(60deg, #b4b4b477 25%, transparent 25.5%, transparent 75%, #b4b4b477 75%, #b4b4b477), linear-gradient(60deg, #b4b4b477 25%, transparent 25.5%, transparent 75%, #b4b4b477 75%, #b4b4b477);
}

a:visited, a{
  text-decoration: none;
}

.homepage{
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-flow: column;
  
  // $bgColor: #b1b1b1;
  // $bgColor: rgb(131, 159, 236);
  
  // background-color: #C5c5c5;
  // opacity: 1;
  // background-size: 36px 63px;
  // background-position: 0 0, 0 0, 18px 32px, 18px 32px, 0 0, 18px 32px;

  // background-image:  linear-gradient(30deg, #b0b0b0 12%, transparent 12.5%, transparent 87%, #b0b0b0 87.5%, #b0b0b0), linear-gradient(150deg, #b0b0b0 12%, transparent 12.5%, transparent 87%, #b0b0b0 87.5%, #b0b0b0), linear-gradient(30deg, #b0b0b0 12%, transparent 12.5%, transparent 87%, #b0b0b0 87.5%, #b0b0b0), linear-gradient(150deg, #b0b0b0 12%, transparent 12.5%, transparent 87%, #b0b0b0 87.5%, #b0b0b0), linear-gradient(60deg, #b0b0b077 25%, transparent 25.5%, transparent 75%, #b0b0b077 75%, #b0b0b077), linear-gradient(60deg, #b0b0b077 25%, transparent 25.5%, transparent 75%, #b0b0b077 75%, #b0b0b077);
  // background-image:  linear-gradient(30deg, #bcbcbc 12%, transparent 12.5%, transparent 87%, #bcbcbc 87.5%, #bcbcbc), linear-gradient(150deg, #bcbcbc 12%, transparent 12.5%, transparent 87%, #bcbcbc 87.5%, #bcbcbc), linear-gradient(30deg, #bcbcbc 12%, transparent 12.5%, transparent 87%, #bcbcbc 87.5%, #bcbcbc), linear-gradient(150deg, #bcbcbc 12%, transparent 12.5%, transparent 87%, #bcbcbc 87.5%, #bcbcbc), linear-gradient(60deg, #bcbcbc77 25%, transparent 25.5%, transparent 75%, #bcbcbc77 75%, #bcbcbc77), linear-gradient(60deg, #bcbcbc77 25%, transparent 25.5%, transparent 75%, #bcbcbc77 75%, #bcbcbc77);
  // background-image:  linear-gradient(30deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(150deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(30deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(150deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(60deg, #b4b4b477 25%, transparent 25.5%, transparent 75%, #b4b4b477 75%, #b4b4b477), linear-gradient(60deg, #b4b4b477 25%, transparent 25.5%, transparent 75%, #b4b4b477 75%, #b4b4b477);
  
  // background-image:  linear-gradient(30deg, $bgColor 12%, transparent 12.5%, transparent 87%, $bgColor 87.5%, $bgColor), linear-gradient(150deg, $bgColor 12%, transparent 12.5%, transparent 87%, $bgColor 87.5%, $bgColor), linear-gradient(30deg, $bgColor 12%, transparent 12.5%, transparent 87%, $bgColor 87.5%, $bgColor), linear-gradient(150deg, $bgColor 12%, transparent 12.5%, transparent 87%, $bgColor 87.5%, $bgColor), linear-gradient(60deg, $bgColor 25%, transparent 25.5%, transparent 75%, $bgColor 75%, $bgColor), linear-gradient(60deg, $bgColor 25%, transparent 25.5%, transparent 75%, $bgColor 75%, $bgColor);

  
}

.blogPreview{
  border: solid;
  background-color: rgb(250, 248, 218);
  border-radius: 8px;
  color: rgb(95, 95, 95);
  // border: 2px solid black;
  padding: 10px 30px 20px 30px;
  margin: 20px 20px;
  // min-width: 230px;
  width: 90vw;
  max-width: 1300px;
  box-shadow: 3px 4px rgb(109, 109, 109);
  text-align: center;
  max-height: 400px;
  position: relative;
  @media only screen and (min-width: 800px) {
    width: 70vw;
  }
  
  // overflow: hidden;

  .content{
    // border: solid red;
    padding-bottom: 20px;
    overflow: hidden;
    max-height: 370px;

    background:
    /* Shadow covers */
    linear-gradient($background, rgba(255,255,255,0)),
    linear-gradient(rgba(255,255,255,0), $background) 0 100%,
    
    /* Shadows */
    radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background:
    /* Shadow covers */
    linear-gradient($background, rgba(255,255,255,0)),
    linear-gradient(rgba(255,255,255,0), $background) 0 100%,
    
    /* Shadows */
    radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
    
    .contentPreview{
        text-align: justify;
    }
  }

  .authorPreview{
    color: rgb(228, 98, 98);
    // color: rgb(238, 110, 25);
    span{
      font-weight: bold;
    }
  }

  .readMore{
    // display: none;
    position: absolute;
    bottom: 10px;
    padding-top: 10px;
    // border: solid red;
    width: calc(100% - 60px);
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.274);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.438) 0%, rgba(0, 0, 0, 0.041) 100%);
    // padding: 0 30px;
    // margin: 0 20px;
  }

}

header{
  background-color: rgb(131, 159, 236);
  box-shadow: 0px 3px rgba(128, 128, 128, 0.384);
  // border-bottom: solid 3px rgb(106, 129, 190);
  // border-bottom: solid 2px black;
  height: 60px;
  // margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  @media only screen and (max-width: 481px) {
    padding: 0 0px 0 10px;
  }
  .logo{
    font-size: 24px;
  }

  >a{
    font-size: 24px;
    text-align: center;
  }
  
  a:visited, a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  nav{
    display: flex;
    align-items: center;
    padding-left: 10px;

    a, p{
      text-align: center;
      margin-right: 15px;
      font-size: 18px;
      color: white;
      @media only screen and (max-width: 481px) {
        font-size: 12px;
      }
      span{
        font-weight: bold;
      }
    }

    button{
      cursor: pointer;
      font-size: 18px;
      background-color: rgb(113, 145, 233);
      border: none;
      color: white;
      padding: 10px;
      border-radius: 15px;
      border: 2px solid rgb(190, 190, 190);
      margin-right: 5px;
      @media only screen and (max-width: 481px) {
        font-size: 12px;
      }
    }

  }
}

.blogDetailContainer{
  display: flex;
  justify-content: center;
}

.blogDetail{
  border: 2px solid rgb(226, 223, 190);
  border-radius: 12px;
  background-color: white;
  background-color: rgb(250, 248, 218);
  color: rgb(95, 95, 95);
  width: 70vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 20px 0;
  padding: 0px 40px;
  position: relative;

  @media only screen and (max-width: 900px) {
    width: 90vw;
    padding: 0 20px;
  }

  .detailAuthor{
    color: rgb(105, 137, 228);
    // border: solid;
    width: 100%;
  }

  .detailContent{
    width: 100%;
    // border: solid red;
  }

  .detailPublished{
    width: 100%;
    font-weight: bold;
  }

  .return{
    position: absolute;
    top: 30px;
    left: 30px;
    border: none;
    height: 25px;
    width: 25px;
    cursor: pointer;
    // background-color: transparent;
    background: url('https://image.flaticon.com/icons/png/512/271/271218.png') no-repeat;
    background-size: cover;
  }

  .postComment{
    // border: solid red;
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    label{
      display: flex;
      flex-flow: column;
      align-items: center;
      font-weight: bold;
      font-size: 18px;
      // border: solid red;
      // border: solid;
      width: 100%;
      textarea{
        width: 100%;
        margin: 10px 0px;
      }
    }
    button{
      cursor: pointer;
      background-color: $secondary;
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
      border: none;
      border-radius: 10px;
    }
  }
}

.commentContainer{
  border-top: 1px solid rgb(163, 163, 163);
  margin-top: 40px;
  padding-top: 20px;
  // padding: 0 20px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

h2{text-align: center;}

.comment{
  // border: solid;
  margin-bottom: 12px;
  background-color: rgb(240, 237, 202);
  box-shadow: 5px 3px rgb(226, 223, 190);
  padding: 10px 20px;
  // border-top: solid 1px black;
  // border-left: solid 1px black;
  :first-child{
    font-weight: bold;
  }
}

.userRequired > a{
  // color: rgb(255, 102, 0);
  color: rgb(105, 137, 228);
}

.errorBanner{
  border: 2px solid rgb(184, 25, 25);
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: rgb(201, 87, 87);
}

.userFormContainer{
  // border: solid red;
  height: calc(100vh - 60px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.userForm{
  border: solid;
  background-color: rgb(233, 233, 233);
  padding: 20px;
  margin: 0 20px;
  // color: rgb(95, 95, 95);
  
  h3{
    text-align: center;
    font-size: 30px;
  }
  form{
    display: flex;
    align-items: center;
    flex-flow: column;
    font-size: 20px;

    label{
      display: flex;
      flex-flow: column;
      margin-bottom: 20px;
      font-size: 24px;
      text-align: center;
    }

    input{
      width: 200px;
      height: 40px;
      margin-top: 5px;
    }

    button{
      background-color: $secondary;
      border: none;
      color: white;
      font-weight: bold;
      font-size: 20px;
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
    }

    .signupSubmit{
      background-color: rgb(25, 151, 25);
    }

  }
}
